/*==== DARK MODE ====*/
/* SPLASH BG */
.splash {
  background-color: var(--color-black-dark);
}

/* DARK MODE BUTTON */
button[type="dark-mode"] {
  display: none;
}

/* LOGOS */
.splash-logo {
  filter: invert(1);
}

.bio-logo {
  filter: invert(1);
}

/* BODY BG & PATTERN */
body {
  background-color: var(--color-black-dark);
  color: var(--color-text-white);
}

/* .bg-img {
  background-image: none;
} */

.bg-svg-path {
  stroke: var(--color-bg-svg-black);
}

/* @media (min-width: 576px) {
  .bg-img {
    background-image: url(images/svg/svg-bg-darkmode.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

@media (min-width: 1440px) {
  .bg-img {
    background-image: url(images/svg/svg-bg-darkmode.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
} */

h3 {
  color: #9e9e9e;
}

button {
  background-color: var(--color-black);
  color: var(--color-white);
  border: 1px solid var(--color-white);
}

button:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

button:active {
  box-shadow: 0px 3px 7px rgba(250, 250, 250, 0.75);
  transition: 100ms;
}

.request-portfolio {
  border-color: var(--color-white);
}

button[type="light-mode"] {
  display: inherit;
  border-color: var(--color-white);
}

.manual-dark-mode-container img {
  filter: invert(1);
}

/* FACES */
.faces-container img {
  filter: invert(1);
}

/* MARQUEE GRADIENTS */
.marquee-gradient-light {
  opacity: 0;
}

.marquee-gradient-dark {
  background-image: linear-gradient(
    to left,
    transparent,
    var(--color-black-dark)
  );
  opacity: 1;
}

/* SEPARATOR LINES */
.hr-line {
  border-bottom: 1px solid var(--color-white);
}

/* HOVER LINKS */
a:hover {
  background-color: var(--color-hover-white);
  color: var(--color-text-black);
}
