/*
===================================
Fonts
===================================
*/
@font-face {
  font-family: "avant-garde";
  src: url("fonts/ITCAvantGardeStd-Bk.woff2") format("woff2"),
    url("fonts/filename.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-kerning: normal;
}

@font-face {
  font-family: "apercu_monoregular";
  src: url("fonts/apercu_mono-webfont.woff2") format("woff2"),
    url("fonts/apercu_mono-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-kerning: normal;
}

/*
===================================
===================================
SHARED CSS
===================================
===================================
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-white: #f2f2f2;
  --color-gray: #d1d1d1;
  --color-dark-gray: #939393;
  --color-black: #1c1c1c;
  --color-black-dark: #0d0d0d;

  --color-bg-svg-white: #dddddd;
  --color-bg-svg-black: #1a1a1a;

  --color-text-black: #1c1c1c;
  --color-text-white: #f2f2f2;
  --color-hover-black: #1c1c1c;
  --color-hover-white: #f2f2f2;

  --transition-duration: 300ms;
  --transition-ease: ease-in-out;

  --rem-size-1: 1rem;

  /* testing dark light mode color variables */
  --color-1: #f2f2f2;
  --color-2: #d1d1d1;
  --color-3: #939393;
  --color-4: #1c1c1c;
  --color-5: #0d0d0d;
}

html {
  font-size: 16px;
  font-family: "avant-garde", sans-serif;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

header {
  margin-top: 45px;
}

footer {
  bottom: 0;
  /* margin-top: 60px; */
  margin-bottom: 25px;
}

h1,
h2,
h3 {
  font-weight: normal;
}

h3 {
  color: var(--color-dark-gray);
  font-family: "apercu_monoregular";
  letter-spacing: -1.3px;
}
/*Hyperlinks*/
a {
  color: inherit;
  text-decoration: none;
  line-height: inherit;
}

a:hover {
  background-color: var(--color-hover-black);
  color: var(--color-text-white);
  transition-duration: 400ms;
  cursor: pointer;
  line-height: inherit;
}

a:hover::after {
  content: " →";
}

li {
  list-style-type: none;
}

/*Spacing*/
p,
li {
  margin-bottom: 5px;
}

/*Separators*/
.hr-line {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--color-black);
}
.separator {
  margin-top: 3px;
  margin-bottom: 4px;
}

.separator::after {
  content: "—";
}

/*Career*/
.career-duration,
.career-company {
  margin-top: 0;
  font-size: 0.9rem;
}

.career-block {
  line-height: 0.9rem;
  margin-bottom: 15px;
}

/*Bio*/
#bio-intro {
  font-size: 1.3rem;
}

#bio-expertise,
#multiple-sectors,
.view-portfolio {
  text-decoration: underline;
}

#bio-expertise:hover,
#multiple-sectors:hover,
.view-portfolio:hover {
  text-decoration: none;
}

.no-arrow:hover::after {
  content: "";
}

#greetings {
  user-select: none;
}

/*
================
BUTTONS
================
*/
button {
  font-family: inherit;
  font-size: inherit;
  background-color: var(--color-black);
  color: var(--color-black);
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: 5px 8px;
  margin-bottom: 6px;
  background: var(--color-white);
  text-decoration: none;
}

button:hover {
  color: var(--color-white);
  background-color: var(--color-black);
}

button:active {
  box-shadow: 0px 3px 7px rgba(28, 28, 28, 0.6);
  transition: 100ms;
}

/*
======== 
CORNER NAV 
========
*/
.corner-nav-container {
  font-size: 0.8rem;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(1, 1);
  grid-template-rows: repeat(3, 1);
  grid-template-areas:
    "modes"
    "art"
    "photo";
  top: 35px;
  right: 35px;
  z-index: 2;
}

.bios-active {
  background-color: red;
}

button[type="light-mode"] {
  display: none;
}

button[type="more"] {
  display: none;
}

/* CORNER NAV GRID */
.corner-nav-container button {
  font-size: 0.8rem;
  padding: 5px 8px;
}
button[type="show-artwork"] {
  grid-area: art;
}
button[type="show-photos"] {
  grid-area: photo;
}

/* SEE MORE EXP & BRANDS */
.see-more-brands-btn,
.see-more-exp-btn {
  display: inherit;
  opacity: 1;
  text-decoration: underline;
  font-weight: normal;
  transition: opacity 1s ease-in-out;
}

.display-hidden {
  display: none;
}
.visibility-hidden {
  visibility: hidden;
}

.h1-hidden {
  position: fixed;
  visibility: hidden;
}

/*
=========== 
MARQUEE 
===========
*/
.marquee-gradient {
  position: absolute;
  margin-top: 20px;
  width: 75px;
  height: 1.5rem;
  z-index: 1;
}

.marquee-gradient-light {
  background-image: linear-gradient(to left, transparent, var(--color-white));
}

marquee {
  margin-top: 1.1rem;
  margin-bottom: 1.1rem;
}

/*=========== MARQUEE V2 ===========*/
/* Set up the container */
.marquee-container {
  color: var(--color-white);
  position: relative;
  overflow: hidden;
}

/* Set up the content to move */
.marquee-content {
  position: absolute;
  white-space: nowrap;
}

/*=========== FACES ===========*/
.faces-container {
  position: absolute;
  display: inline;
  width: 32px;
  margin-left: -2px;
  padding-top: 0.9rem;
  /* transform: translateX(-2px); */
  z-index: 2;
  opacity: 100%;
}

.faces-container img {
  pointer-events: none;
  user-select: none;
}

/* KEEP SCROLLING */
.scroll-down {
  z-index: 2;
  position: absolute;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: none;
  bottom: 15px;
  animation: fade_move_down 2s ease-in-out infinite;
}

@keyframes fade_move_down {
  0% {
    transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 0px);
    opacity: 0;
  }
}

/*======== SPLASH ========*/
.splash {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-white);
  z-index: 1;
}

/*=========== CURRENT WEATHER ===========*/
#weather-text {
  grid-column-start: 3;
  grid-column-end: 4;
}

/*=========== CRAFTED EMOJI ===========*/

.crafted-emoji {
  user-select: none;
  text-decoration: none;
  transform: translateY(-5px);
  margin: 5px 0px 5px 0px;
  font-size: 1.1rem;
  transition: var(--transition-duration) var(--transition-ease);
}
.crafted-emoji:hover {
  filter: grayscale() invert();
  background-color: transparent;
  transition: var(--transition-duration) var(--transition-ease);
}

/* 
======================
======================
OVERLAYS
======================
======================
*/
/*
=========== 
PHOTOS/ARTWORK OVERLAY 
===========
*/
.artwork-container,
.photos-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: none;
}

.artwork-img,
.photos-img {
  max-width: 50vw;
  max-height: 50vh;
  object-fit: contain;
  opacity: 80%;
}

.photos-img {
  opacity: 0;
}

/*=========== TRANSITIONS ===========*/
body,
.bio-logo,
h3,
.hr-line,
.marquee-gradient-dark,
.faces-container img,
.bg-svg path,
button,
.artwork-img,
.photos-img {
  transition: var(--transition-duration) var(--transition-ease);
}

/*
================
================
MOBILE
================
================
*/
body {
  margin-left: 30px;
  margin-right: 40px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

h3 {
  margin-bottom: 5px;
  font-size: 1rem;
}

/*Mobile Bio Logo*/
.bio-logo {
  display: block;
  height: 1.5rem;
  padding-bottom: 4px;
  user-select: none;
  pointer-events: none;
}

/*Mobile Hidden*/
.mobile-hidden {
  display: none;
}

.opacity-hidden {
  opacity: 0;
  /* display: none; */
}

/*Mobile Header*/
/* header {
    display: grid;
    grid-area: header;
    align-content: end;
    height: 40px; 
} */

/*Mobile Footer*/
footer {
  grid-area: footer;
  height: 100%;
}

/*Outer Grid*/
.outer-grid {
  height: 100%;
}

/*Mobile Inner Grid*/
.inner-grid {
  height: 100%;
  grid-area: inner;
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "c1"
    "c2"
    "c3"
    "c4";
  justify-content: start;
  align-items: start;
  row-gap: 10px;
}

/*
============
GRID COLUMNS
============
*/
.col {
  margin-bottom: 55px;
}
.column-1 {
  min-height: 100vh;
  grid-area: c1;
}
.column-2 {
  grid-area: c2;
}
.column-3 {
  grid-area: c3;
}
.column-4 {
  grid-area: c4;
}
.column-5 {
  grid-area: c5;
}
.column-6 {
  grid-area: c6;
}

/*
================
SHARED ANIMATION
================
*/
/* COLUMNS FADE IN ANIMATION */
.col,
footer,
header,
.artwork-container {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 1000ms;
  animation-delay: 1000ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

footer {
  animation-delay: 2250ms;
}
.column-2 {
  animation-delay: 1250ms;
}
.column-3 {
  animation-delay: 1500ms;
}
.column-4 {
  animation-delay: 1750ms;
}
.column-5 {
  animation-delay: 2000ms;
}
.column-6 {
  animation-delay: 2250ms;
}

.artwork-container {
  animation-delay: 1500ms;
}

.splash img {
  animation-name: fade-in, slide-in;
  animation-duration: 500ms;
}

.splash-out {
  animation-name: splash-out;
  animation-timing-function: ease-in;
  animation-duration: 1000ms;
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
}

/* Background Animated SVG */
#bg-svg {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: -2;
}

.bg-svg-path {
  fill: none;
  stroke: var(--color-bg-svg-white);
  stroke-width: 1;
  stroke-dasharray: 0.5;
  stroke-dashoffset: 1;
}

.bg-svg-path-1 {
  animation: svg-trace 5s linear infinite;
}

.bg-svg-path-2 {
  animation-delay: 500ms;
  animation: svg-trace 5s linear reverse infinite;
}

.bg-svg-path-3 {
  animation-delay: 1000ms;
  animation: svg-trace 5s linear reverse infinite;
}

@keyframes svg-trace {
  0% {
    stroke-dashoffset: 1;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes splash-out {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(30%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-30%);
  }
  to {
    transform: translateX(0);
  }
}

/*
================
================
TABLET - SMALL DESKTOP
================
================
*/
@media (min-width: 576px) {
  body {
    margin-left: 60px;
    margin-right: 60px;
  }

  /* .bg-img {
    background-image: url(images/svg/svg-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  } */

  .scroll-down {
    display: none;
  }

  .inner-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "c1 c2 c3";
    column-gap: 50px;
  }

  .col {
    min-height: 80vh;
    margin-bottom: 35px;
  }
  .column-1 {
    min-height: 0;
  }

  nav {
    display: none;
  }

  /*Tablet Font size*/
  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 1.2rem;
    margin-bottom: 0;
  }

  /*Tablet Footer*/
  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
  }

  .footer-time {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  #weather-text {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  /*Tablet-Desktop Hidden*/
  .desktop-hidden {
    display: none;
  }
  .mobile-hidden {
    display: grid;
  }
  .opacity-hidden {
    opacity: 100;
  }

  /*Tablet - Overlay Img */
  .artwork-img,
  .photos-img {
    max-width: 30vw;
    max-height: 30vh;
  }
}

/*
================
================
WIDE DESKTOP
================
================
*/
@media (min-width: 1440px) {
  .col {
    min-height: 80vh;
  }
  h2 {
    margin-bottom: 0;
  }
  .scroll-down {
    display: none;
  }

  /* .bg-img {
    background-image: url(images/svg/svg-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  } */

  body {
    margin-left: 90px;
    margin-right: 90px;
  }

  .inner-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "c1 c2 c3 c4 c5";
    justify-content: start;
    align-items: start;
    column-gap: 100px;
  }

  nav {
    display: none;
  }

  /*Wide Desktop Footer*/
  footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 100px;
  }

  .footer-time {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  footer .hr-line {
    grid-column-start: 1;
    grid-column-end: 6;
  }
  .opacity-hidden {
    opacity: 100%;
  }

  /*Wide Desktop Overlay Img */
  .artwork-img,
  .photos-img {
    max-width: 30vw;
    max-height: 30vh;
  }

  #overseas-brands,
  #more-exp {
    display: inherit;
  }
}

/*
================
================
ULTRA WIDE DESKTOP
================
================
*/
@media (min-width: 1921px) {
  body {
    font-size: 1.1rem;
  }
  header {
    margin-top: 50px;
  }
  .col {
    min-height: 80vh;
  }
  .corner-nav-container {
    top: 45px;
  }
  .crafted-emoji {
    font-size: 1.2rem;
  }
}
