/*
=====================
COLORS
=====================
Black #1C1C1C
Dark Gray #828282
Gray #D1D1D1
White #F4F4F4
BG White #F2F2F2
*/

/*
=====================
Fonts
=====================
*/
@font-face {
    font-family: "avant-garde";
    src: url('fonts/ITCAvantGardeStd-Bk.woff2') format('woff2'), 
         url('fonts/filename.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-kerning: normal;
}


@font-face {
    font-family: 'apercu_monoregular';
    src: url('fonts/apercu_mono-webfont.woff2') format('woff2'),
         url('fonts/apercu_mono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-kerning: normal;
}

/*
===================================
SHARED CSS
===================================
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-bg-white: #f2f2f2;
    --color-dark-gray: #939393;
    --color-gray: #D1D1D1;
    --color-black-1c: #1C1C1C;
    --color-black: rgb(15, 15, 15);
    --color-black-dark-mode: #0d0d0d;
  }

html {
    font-size: 16px;
    font-family: 'avant-garde', sans-serif;
}

body {
    background-color: var(--color-bg-white);
    color: var(--color-black-1c);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

.bg-img {
    background-image: none;
}

header {
    margin-top: 40px;
}

footer {
    bottom: 0;
    margin-top: 50px;
    margin-bottom: 30px;
}

h1, h2, h3 {
    font-weight: normal;
}

h3 {
    color: var(--color-dark-gray);
    font-family:"apercu_monoregular";
    letter-spacing: -1.3px;
}

a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    background-color: var(--color-black);
    color: var(--color-bg-white);
    transition-duration: 400ms;
    cursor: pointer;
}

a:hover::after {
    content: " →";
}

li { 
    list-style-type: none;
}

/*Spacing*/
p, li {
    margin-bottom: 5px;
}


/*Separators*/
.hr-line {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--color-black);
}

.separator {
    margin-top: 3px;
    margin-bottom: 4px;
}

.separator::after {
    content: "—";
}

/*Career*/
.career-duration, .career-company {
    margin-top: 0;
    font-size: 0.9rem;
}

.career-block {
    line-height: 0.9rem;
    margin-bottom: 15px;
}

/*Bio*/
#bio-intro {
    font-size: 1.5rem;
}

#bio-expertise, #multiple-sectors, .view-portfolio {
    text-decoration: underline;
}

#bio-expertise:hover, #multiple-sectors:hover, .view-portfolio:hover {
    text-decoration: none;
}

.no-arrow-link:hover::after {
    content: "";
}

#greetings {
    user-select: none;
}

/*==== LIGHT/DARK MODE BUTTONS ====*/
.dark-mode-button, .light-mode-button {
    margin-right: 15px;
    display: inline-block;
    width: fit-content;
    font-family: "avant-garde";
    cursor: pointer;
    text-align: left;
}

/*=========== PORTFOLIO ARROW ===========*/
/* .view-portfolio-arrow {
    animation: arrow-before-portfolio 2s ease-in-out infinite;
}

@keyframes arrow-before-portfolio {
    0% { 
        opacity: 0
    }
    100% { 
        opacity: 1
    }
} */

/*=========== PORTFOLIO SLIDE-IN-OUT ===========*/
.folio-slide {
    margin-left: 15px;
    position: absolute;
    display: inline-block;
    animation: folio-slide 2s ease-in-out infinite;
}

@keyframes folio-slide {
    0% { 
        transform: translateX(0px) 
    }
    50% { 
        transform: translateX(10px) 
    }
    100% { 
        transform: translateX(0px) 
    }
  }

/*WHITE ECHO*/
.white-echo, .white-echo-exp, .white-echo-brands {
    position: absolute;
    width: 0px;
    height: 1.1rem;
    background-image: linear-gradient(to left, var(--color-black-1c), transparent);
    animation: white-echo 2s ease-in-out infinite;
}

@keyframes white-echo {
    0% {width: 5px;}
    50% {width: 15px;}
    100% {width: 5px;}
}

/* CYCLE TEXT ANIMATION */
  .cycle-text p {
    opacity: 0;
    top: 0;
    left: 0;
    animation: cycle 2s ease-in-out infinite;
    animation-delay: 0s;
  }
  
  @keyframes cycle {
    0% {
      opacity: 0;
      transform: translateY(-5px);
    }
    25% {
      opacity: 1;
      transform: translateY(0);
    }
    75% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(5px);
    }
  }

/*=========== MARQUEE ===========*/
.marquee-txt-overlay {
    position: absolute;
    margin-top: 20px;
    width: 75px;
    height: 1.5rem;
    background-image: linear-gradient(to left, transparent, var(--color-bg-white));    
    z-index: 1;
}

marquee {
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
}

/*=========== FACES ===========*/
.faces-container {
    position: absolute;
    display: inline;
    width: 30px;
    padding-top: 0.9rem;
    /* transform: translateX(-2px); */
    z-index: 2;
    opacity: 100%;
  }

.faces-container img {
    pointer-events: none;
    user-select: none;
}
  
/*======== SPLASH ========*/
.splash {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-bg-white);
    z-index: 1;
}

/*=========== CURRENT WEATHER ===========*/
#weather-text {
    grid-column-start: 3;
    grid-column-end: 4;
}

/*=========== IMG OVERLAY ===========*/
.overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    pointer-events: none;
}

.overlay-img {
    max-width: 40vw;
    max-height: 40vh;
    object-fit: contain;
    opacity: 60%;
}

/*=========== MOBILE ===========*/
body {
    margin-left: 30px;
    margin-right: 40px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 8px;
}

h3 {
    margin-bottom: 5px;
    font-size: 1rem;
}

/* SEE MORE EXP & BRANDS */
.see-more-brands-btn, .see-more-exp-btn {
    display: inherit;
    opacity: 1;
    text-decoration: underline;
    font-weight: normal;
    transition: opacity 1s ease-in-out;
}

.see-more-brands-btn, .see-more-exp-btn{
    margin-left: 15px;
    animation: folio-slide 2s ease-in-out infinite;
}

#overseas-brands, #more-exp {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out;
}

/*Mobile column heights, update when sticky nav ready*/
/* .col {
    min-height: 100vh;
} */

/*Mobile Bio Logo*/
.bio-logo {
    display: block;
    height: 1.5rem;
    padding-bottom: 4px;
    user-select: none;
    pointer-events: none;
}

/*Mobile Hidden*/
.mobile-hidden {
    display: none;
}

.opacity-hidden {
    /* opacity: 0; */
    display: none;
}

/*Mobile Header*/
/* header {
    display: grid;
    grid-area: header;
    align-content: end;
    height: 40px; 
} */

/*Mobile Footer*/
footer {
    grid-area: footer;
    height: 100%;
}

/*Outer Grid*/
.outer-grid {
    /* display: grid;
    grid-template-rows: 20px 1fr 20px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "inner"
    "footer"; */
    height: 100%;
}

/*Mobile Inner Grid*/
.inner-grid {
    height: 100%;
    grid-area: inner;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
    "c1"
    "c2"
    "c3"
    "c4"
    "c5";
    justify-content: start;
    align-items: start;
    row-gap: 45px;
}

/*
============
GRID COLUMNS
============
*/
.column-1 {
    grid-area: c1;
}
.column-2 {
    grid-area: c2;
}
.column-3 {
    grid-area: c3;
}
.column-4 {
    grid-area: c4;
}
.column-5 {
    grid-area: c5;
}
.column-6 {
    grid-area: c6;
}

/*
================
SHARED ANIMATION
================
*/
.col, footer, header, .overlay-container {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1000ms;
    animation-delay: 1000ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

footer {
    animation-delay: 2250ms;
}
.column-2 {
    animation-delay: 1250ms;
}
.column-3 {
    animation-delay: 1500ms;
}
.column-4 {
    animation-delay: 1750ms;
}
.column-5 {
    animation-delay: 2000ms;
}
.column-6 {
    animation-delay: 2250ms;
}

.overlay-container {
    animation-delay: 1500ms;
}

.splash img {
    animation-name: fade-in, slide-in;
    animation-duration: 500ms;
}

.splash-out {
    animation-name: splash-out;
    animation-timing-function: ease-in;
    animation-duration: 1000ms;
    animation-delay: 1000ms;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes splash-out {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes slide-up {
    from { transform: translateY(30%); }
    to { transform: translateY(0); }
}

@keyframes slide-in {
    from { transform: translateX(-30%); }
    to { transform: translateX(0); }
}

/*======== TABLET - SMALL DESKTOP ========*/
@media (min-width: 576px) {

    body {
        margin-left: 60px;
        margin-right: 60px;
    }

    .bg-img {
        background-image: url(images/svg/svg-bg.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .inner-grid {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas:
        "c1 c2 c3"
        "c1 c4 c5";
        column-gap: 50px;
    }

    nav {
        display: none;
    }

    /*Font size*/
    h1 {
        font-size: 1.2rem;
    }
    
    h2 {
        font-size: 1.2rem;
        margin-bottom: 0;
    }
    
    /*Tablet Footer*/
    footer {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 50px;
    }

    .footer-dark-light {
        grid-column-start: 4;
        grid-column-end: 5;

    }
    .footer-time {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    #weather-text {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    footer .hr-line {
        grid-column-start: 1;
        grid-column-end: 4;
       }
    /*Desktop Hidden*/
    .desktop-hidden {
        display: none;
    }
    .mobile-hidden {
        display: grid;
    }
    .opacity-hidden {
        opacity: 100;
    }

    /* Overlay Img */
    .overlay-img {
        max-width: 30vw;
        max-height: 30vh;
    }

    #overseas-brands, #more-exp {
        display: inherit;
    }

}

/*======== WIDE DESKTOP ========*/
@media (min-width: 1440px) {
    .col {
        min-height: 80vh;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    h2 {
        margin-bottom: 0;
    }
    
    .bg-img {
        background-image: url(images/svg/svg-bg.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    body {
        margin-left: 90px;
        margin-right: 90px;
    }

    .inner-grid {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(5,1fr);
        grid-template-areas:
        "c1 c2 c3 c4 c5";
        justify-content: start;
        align-items: start;
        column-gap: 50px;
    }

    nav {
        display: none;
    }

    /*Desktop Footer*/
    footer {
        display: grid;
        grid-template-columns: repeat(5,1fr);
        column-gap: 50px;
    }

    .footer-dark-light {
        grid-column-start: 4;
        grid-column-end: 5;
    }

    .footer-time {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    footer .hr-line {
        grid-column-start: 1;
        grid-column-end: 6;
    }
    .opacity-hidden {
        opacity: 100%;
    }

/* Overlay Img */
    .overlay-img {
        max-width: 30vw;
        max-height: 30vh;
    }

    #overseas-brands, #more-exp {
        display: inherit;
    }
}